/* Глобальний лоадер по центру */
#global-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: none;
    /* показуємо тільки при завантаженні */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#global-loader .spinner {
    width: 3rem;
    height: 3rem;
    border: 0.4rem solid #ccc;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Картки */
.card img {
    max-height: 150px;
    object-fit: contain;
}


/* Анімація появи карток */
.card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.visible {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}